nav#main-menu.navbar.navbar-default(role='navigation')
  // brand and button menu
  .container
    .navbar-header
      button#btn-drawer-open.navbar-toggle(type='button')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') TrueCaller
  // end button and brand
  div
    #overlay-menu
    #side-nav-mobile.drawer
      .drawer-top
        a.navbar-brand(href='#') Nguyễn Mạnh
      .drawer-menu
        a.drawer-item(href='#') Home
        a.drawer-item(href='#') Get the app
        a.drawer-item(href='#') Company
        a.drawer-item(href='#') Services
        a.drawer-item(href='#') Support
      button#btn-drawer-close
        i.fa.fa-arrow-circle-o-left(aria-hidden='true')