nav#main-menu.navbar.navbar-default(role='navigation')
  // brand and button menu
  .container
    .navbar-header
      button#button-nav.navbar-toggle(type='button', onclick='openNav()')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#') TrueCaller
  // end button and brand
  #mySidenav.nav-side-menu
    a.navbar-brand(href='#') Nguyen Manh