* {
	margin: 0px;
	padding: 0px;
}

body {
	color: #7a7a7a;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

header {

}
#btn-drawer-open {
	display: block;
	float: left;
	margin: 0px;
	border-radius: 0px;
	line-height: 100%;
	box-sizing: border-box;
}
	#btn-drawer-open span{
		background-color: #fff;
	}
#btn-drawer-close {
	background-color: rgb(0,0,1);
	border: 0px;
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 16px;
	font-weight: bold;
}
#main-menu {
	
}
	#main-menu .navbar-header {
		
	}
		#main-menu .navbar-header .navbar-brand {
			height: 100%;
			font-family: 'EB Garamond';
			font-weight: bold;
			padding: 0px;
			font-size: 270%;
		}
.navbar{
	margin-bottom: 0px;
	border-radius: 0px;

}
.navbar-default {
	background: #0086fe;
	/*border-color: #0086fe;*/
	border-top-color: #0086fe;
	border-right-color: #0086fe;
	border-left-color: #0086fe;
}
	.navbar-default .navbar-brand {
		color: #fff;
	}
	.navbar-default .navbar-brand:hover {
		color: #fff;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	    background-color: #0472d4;
	}

/*/* di chuyển nav-brand ra căn giữa menu**/
.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}
	.navbar-brand {
		float:none;
		padding-bottom: 0px;
		width: 100%;
		text-align: center;
	    margin:0 auto;
	}
	
/* ......................................... */


/* cấu hình menu thu vào */
#overlay-menu {
	height: 100%;
	width: 100%;
	background: black;
	opacity: 0.4;
	position: fixed;
	top: 0px;
	display: none;
	z-index: 999;
} 
#side-nav-mobile {
	z-index: 1000;
}  
.drawer {
	width: 250px;
 	height: 100%;
 	overflow: hidden;
 	font-family: verdana;
 	font-size: 12px;
 	font-weight: 200;
 	background-color: #2e353d;
 	position: fixed;
 	top: 0px;
  	left: -250px;
  	z-index: 1000;
 	color: #e1ffff;
 	transition: 0.5s;
 	-webkit-transition: 0.5s;
}

.drawer .navbar-brand {
	background-color: #23282e;
	line-height: 50px;
	display: block;
	text-align: center;
	padding: 0px;
	font-weight: 600;
    font-size: 16px;
}
	.navbar-default .navbar-brand:hover {
	    color: #fff;
	}
	.drawer .toggle-btn {
	  display: none;
	}
	.drawer ul,
		.drawer li {
		  list-style: none;
		  padding: 0px;
		  margin: 0px;
		  line-height: 35px;
		  cursor: pointer;

		}
	.drawer-menu {

	}
		.drawer-menu .drawer-item {
			position: relative;
		    display: block;
		    min-height: 60px;
		    line-height: 60px;
		    width: 100%;
		    padding: 0 24px 0 48px;
		    cursor: pointer;
		    color: white;
		    font-weight: 600;
		    font-size: 16px;
		}
			.drawer-menu .drawer-item:hover {
				text-decoration: none;
				background-color: #28313c;
			}
			.drawer-item:before {
			    content: "";
			    position: absolute;
			    top: 50%;
			    left: 24px;
			    width: 4px;
			    height: 4px;
			    margin-top: -2px;
			    border-radius: 100%;
			    background: currentColor;
			}
/*...........................*/

/* phần cáu hình của main - page */
.main-page {

}
	.home-search {
		background: #0086fe;
	    height: calc(100vh - 54px);
	    max-height: 528px;
	    color: #fff;
	    text-align: center;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -ms-flex-flow: column;
	    flex-flow: column;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    width: 100%;
	}
		.home-search h1 {
		    color: #fff;
		    margin-bottom: 2rem;
		}
			.searchbar {
			    position: relative;
			    width: 100%;
			    max-width: 492px;
			    margin: auto;
			    z-index: 50;
			}
				.searchbar-inputs {
				    position: relative;
				    z-index: 51;
				    background: #fff;
				    display: -webkit-box;
				    display: -ms-flexbox;
				    display: flex;
				    -webkit-box-align: center;
				    -ms-flex-align: center;
				    align-items: center;
				    border-radius: 4px;
				    height: 60px;
				}
					.searchbar-country {
					    position: relative;
					    text-align: center;
					    color: #0086fe;
					    padding: 0;
					    font-weight: 700;
					    line-height: 3.75rem;
					    width: 96px;
					    -webkit-box-flex: 0;
					    -ms-flex: 0 0 96px;
					    flex: 0 0 96px;
					    white-space: nowrap;
					    overflow: hidden;
					    text-overflow: ellipsis;
					}
					.searchbar-country:before {
					    content: "";
					    width: 0;
					    height: 0;
					    position: absolute;
					    right: 10px;
					    top: 50%;
					    margin-top: -2px;
					    border-left: 4px solid transparent;
					    border-right: 4px solid transparent;
					    border-top: 4px solid #0086fe;
					}
						.searchbar-country select {
						    position: absolute;
						    opacity: 0;
						    height: 100%;
						    left: 0;
						    top: 0;
						}
					input.searchbar-query {
					    padding-left: 0;
					    padding-right: 0;
					    font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
					}

					.searchbar-submit {
					    width: 72px;
					    -webkit-box-flex: 0;
					    -ms-flex: 0 0 72px;
					    flex: 0 0 72px;
					    height: 40px;
					    background-image: url(data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" xml…transform="rotate(-45 18.818 18.818)"/><path d="M0 0H24V24H0z"/></g></svg>);
					    background-position: 50%;
					    background-repeat: no-repeat;
					    background-color: transparent;
					    border-color: transparent;
					    color: gray;
					}
					
			.top-spammer {
			    margin-top: 32px;
			    text-align: center;
			    font-size: 12px;
			    line-height: 17px;
			}
				.top-spammer a {
				    margin-top: 6px;
				    display: inline-block;
				    text-decoration: none;
				    font-weight: 700;
				    padding: 5px 15px;
				    border-radius: 100px;
				    color: #fff;
				}


	/*home down load*/
	.home-download {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    width: 100%;
	    max-width: 990px;
	    margin: auto;
	    padding: 48px 10px;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	}
		.home-download .home-download-text {
		    -webkit-box-flex: 1;
		    -ms-flex: 1;
		    flex: 1;
		}
			.home-download .home-download-title {
			    font-size: 48px;
			    line-height: 48px;
			    letter-spacing: -2px;
			    margin-top: 0;
			    margin-bottom: 24px;
			}
			.home-download  a.btn {
				width: 100%;
				margin-bottom: 10px;
			}
			.home-download  .btn:focus, .btn:hover {
				color: #fff;
			}

				.home-download .home-download-button {
				    margin-right: 20px;
				    margin-bottom: 20px;
				}
			.home-download .home-download-copy {
			    font-size: 18px;
			    line-height: 30px;
			    margin-bottom: 24px;
			}

		.picture {
		    display: inline-block;
		    position: relative;
		    background-size: 25% auto;
		    background-repeat: no-repeat;
		    background-position: 50%;
		}
		picture {
			width: 100%;
		    max-width: 364px;
		    background: none;
		    margin: 0 auto;
		}
			.picture-spacer {
			    position: relative;
			}
			/*.picture img {
			    position: absolute;
			    top: 0;
			    left: 0;
			    bottom: 0;
			    right: 0;
			}*/
			.picture  img {
				max-width: 100%;
				min-width: 100%;
			}


/*...............................*/

/* footer 2 */
#footer-widgets {
	background-color: #00132c;
    color: #bbbbbb;
    overflow: hidden;
    padding: 30px 0;
}
	#footer-widgets, #footer-widgets a {
		color: #dddddd;
	}

	#footer-widgets .widget-title {
	    color: #ffffff;
	}
		#footer-widgets .widget-title::after {
		    content: "";
		    display: block;
		    width: 60px;
		    height: 2px;
		    margin-top: 5px;
		    background: #EE3B24;
		}
	#footer-widgets ul {
	    list-style: none;
	    margin: 0;
	}
		#footer-widgets ul li {
		    padding: 3px 0 3px;
		    position: relative;
		}
		#footer-widgets ul.widget-links li::before {
		    content: "";
		    font-family: 'FontAwesome';
		    margin-right: 10px;
		    height: 6px;
		    width: 6px;
		    background: #EE3B24;
		    display: inline-block;
		    transform: rotate(-45deg);
		}
		#footer-widgets .widget-socials-links li {
		    display: block;
		    float: left;
		    margin-right: 5px;
		    margin-bottom: 5px;
		}

			#footer-widgets .widget-socials-links li a {
			    border: 1px solid #bababa;
			    display: inline-block;
			    height: 33px;
			    line-height: 1.7;
			    margin-right: 0;
			    padding: 0;
			    text-align: center;
			    vertical-align: middle;
			    width: 33px;
			}
#footer-bottom {
	background-color: #00132c;
    clear: both;
    color: #fff;
    padding: 15px 0;
    font-weight: 500;
    border-top: 1px solid #666;
}
	#footer-bottom .footer-bottom-social {
		text-align: right;
	}
		.footer-bottom-social ul {
			list-style: none;
			margin: 0px;
		}
		.footer-bottom-social ul li {
			display: inline-block;
		    float: none;
		    margin-right: 0;
	        margin-bottom: 5px;
		}
		.footer-bottom-social li a {
		    /*border: 1px solid #bababa;*/
		    display: inline-block;
		    height: 33px;
		    line-height: 1.7;
		    margin-right: 0;
		    padding: 0;
		    text-align: center;
		    vertical-align: middle;
		    width: 33px;
		}
		.footer-bottom-social li a i {
			width: 100%;
		}

/*...................*/

/* một số thẻ mặc định */
    h1, h3 {
    	/*font-size: 2.5rem;*/
	    line-height: 3rem;
	    margin-bottom: 2rem;
	    letter-spacing: -.040625rem;

	    font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
	    font-weight: 700;
    }
    input {
    	border: 0;
	    border-radius: 0;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    background-color: transparent;
	    display: block;
	    width: 100%;
	    /*font-size: 1rem;*/
	     padding: .5rem 1rem; 
	    /*line-height: 2rem;*/
	    color: gray;
    }

    button {
	    width: auto;
	    display: inline-block;
	    height: 36px;
	    line-height: 36px;
	    cursor: pointer;
	    padding: 0 16px;
	    text-transform: uppercase;
	    text-align: center;
	    border-radius: 2px;
	    font-weight: 700;
	}

	.btn, a.btn, button.btn {
	    display: inline-block;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    font-size: 14px;
	    font-weight: 700;
	    text-align: center;
	    text-transform: uppercase;
	    color: #fff;
	    background-color: #03d496;
	    height: 48px;
	    line-height: 48px;
	    min-width: 128px;
	    border-radius: 24px;
	    padding: 0 24px;
	    border: 0;
	    -webkit-appearance: none;
	    -moz-appearance: none;
	    appearance: none;
	    text-decoration: none;
	    cursor: pointer;
	}
	.btn.btn-black, a.btn.btn-black, button.btn.btn-black {
	    background-color: #263238;
	}
		.btn.btn-black:hover, a.btn.btn-black:hover, button.btn.btn-black:hover {
		    background-color: #11171a;
		    color: #fff;
		}
h1, h2, h3, h4, h5, h6 {
	color: #272727;
	font-family: "PT Sans",sans-serif;
	font-weight: 500;
}
/*.......................*/